<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="aplikacja">
	
	<div class="container" ng-controller="kontrolerTabeliSkoczkow">
		<div class="row">
			<div class="col-sm-8 center-block">
				<h1 class="text-center">Klasyfikacja {{skoczkowie.length}} skoczków narciarskich</h1><br>
				<div class="input-group">
					<span class="input-group-addon">Szukaj: </span>
					<input type="text" class="form-control" placeholder="Czego szukasz?" ng-model="wyszukiwarka">
				</div><br>

				<div class="table-responsive">
					<table class="table table-hover" >
						<thead>
							<tr>
								<th ng-repeat="naglowek in ['Index', 'Imię', 'Narodowść', 'Miejsce', 'Punkty', 'Usuń']">
									{{naglowek}}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="skoczek in skoczkowie | filter : wyszukiwarka">
								<td>{{$index}}</td>
								<td>
									{{skoczek.Name}}
									<button ng-click="edycja =! edycja" class="btn btn-info btn-xs">edit</button>
									<input type="text" class="form-control" ng-if="edycja" ng-model="skoczek.Name">
								</td>
								<td>{{skoczek.Nation}}</td>
								<td>{{skoczek.rank}}</td>
								<td>{{skoczek.pts}}</td>
								<td><button class="btn btn-danger btn-xs" ng-click="usunSkoczka($index)">&times;</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	

	<script src="node_modules/angular/angular.js"></script>
	<script src="js/script.js"></script>
	<script src="node_modules/jquery/dist/jquery.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>